# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# sljit
sljit/**/*.h
sljit/**/*.c
sljit/**/.svn
sljit/.svn
sljit/README
